body{
    text-align: center;
    background: black;
}
p{
    color:white;
}
h1{
    color:turquoise;
}
img{
    width:375px;
    height: 150;
}
.campus_mainDiv .text-muted{
    color: white;
}
#campus_life{
    color: yellow;
}