body{
    text-align: center;
    background: linear-gradient(#296834, #230583, black);
}
p{
    color:white;
}
h1{
    color:turquoise;
}
img{
    width:375px;
    height: 150;
}
.campus_mainDiv .text-muted{
    color: white;
}
#campus_life{
    color: yellow;
}
.navbar-inverse{
    position:sticky;
    top:0;
    z-index:99999;
}
.classes_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.classes_text span{
    color:orange
}
.classes_head i{
    float: right;
}
h2{
    color: white;
}
#new{
    margin-bottom: 20px;
}
#contacts iframe{
    width: 100%;
}
#contacts{
    background-color: lightpink;
}
#ul1, #ul2 hr{
    color: black;
}
.list-group p{
    font-size: 18px;
}
#contacts h3{
    color: black;
}